body {
    background-image: url("https://everwallpaper.com/cdn/shop/products/peach-print-mural-wallpaper.jpg?v=1650356300&width=1445");
}
h1 {
    color: rgb(76, 25, 78);
    font-size: 60px;
}
p {
    font-size: 25px;
}